.App {
	text-align: center;
}

nav {
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
	width: 100%;
	margin-bottom: 20px;
	display: -webkit-inline-box;
}

.navOptions {
	margin: auto;
	font-size: 16pt;
}

.navOptions a {
	margin: 20px;
	text-decoration: none;
	color: rgba(255, 255, 255);
}

.navOptions a:focus,
.navOptions a:hover {
	outline: none;
	transition: all 0.2s ease-in;
	color: rgb(148, 31, 60);
}

.cart {
	height: 50px;
}

div.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px auto;
	position: relative;
	text-align: center;
}

.logo {
	width: 100%;
}

.pizza {
	height: 300px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.pizza {
		animation: pizza-spin infinite 70s linear;
	}
}

@keyframes pizza-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.phoneNumber {
	color: rgba(255, 255, 255);
	width: 100%;
	font-size: 4em;
	margin: 50px;
}

.map-hours {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 300px;
}

.map {
	margin: auto;
}

.hours {
	margin-bottom: 50px;
}

.hours h3 {
	margin: 0;
	color: rgba(255, 255, 255);
	font-size: 2.5em;
}

.hours p {
	margin: auto;
	color: rgba(255, 255, 255);
	font-size: 1.5em;
}

.location h3 {
	margin-bottom: 5px;
	color: rgba(255, 255, 255);
	font-size: 2.5em;
}
